<br/>
<br/>
<div class="large-4 columns text-center">
  <label><b>Subject</b></label>
  {{input type="text" value=subject}}
  <label><b>Body</b></label>
  {{textarea value=body cols="80" rows="6"}}
  {{view Ember.Select
    content=urgencies
    prompt="Select Urgency..."
    value=urgency
  }}
  <label><b>To</b></label>
  {{input type="text" value=to0}}
  <button class="button success-dark" {{action "submit"}}>Create &raquo;</button>
</div>
