<nav role="navigation" class="navigation">
  <div class="navigation-container">
    <ul class="logo-navigation">
      <li>
        <a href="christopherdumas.org/TitanSoft-Labs/" title="TitanSoft Labs">TSL</a>
      </li>
    </ul>
    <ul class="main-navigation">
      {{#if isSignedIn}}
        {{#link-to 'tickets.new' tagName="li" href=false}}<a {{bindAttr href="view.href"}}>New Ticket</a>{{/link-to}}
        {{#link-to 'tickets.index' tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Tickets</a>{{/link-to}}
        <li><a {{action 'logout'}}>Log Out</a></li>
      {{else}}
        {{#link-to 'sighnin.index' tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Sign In</a>{{/link-to}}
      {{/if}}
    </ul>
  </div>
</nav>
{{outlet}}
