<ul class='list-unstyled'>
{{#each tickets}}
  <li>
  <h3>{{subject}}
    <span {{bind-attr class=':label type'}}>{{urgency}}</span>
  </h3>
    <p>{{body}}</p>
    {{#each user in to}}
      {{index-get ../../users user}}
    {{/each}}
  </li>
{{/each}}
</ul>
