<br/>
<br/>
<div class="large-4 columns text-center">
    <label><b>Email</b></label>
    {{input type="text" value=email placeholder="Enter your email address."}}
    <img {{bind-attr src=image}}>
    <label><b>Full Name</b></label>
    {{input type="text" value=name placeholder="Enter your full name"}}
    <label><b>Password</b></label>
    <div class="wrap-password">
      {{input type="password" class="password" value=password placeholder="Enter your password."}}
    </div>
    <p>{{input type="checkbox"  checked=rememberMe}} Remember Me</p>
    <button class='button success' {{action 'submit'}}>Done!</button>
</div>
